@import '../../../global';

.Board {
    position: relative;
    user-select: none;
    border-radius: 10px;
    overflow: hidden;
    --size: 100px;
    .wrapper {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .square {
            width: var(--size);
            height: var(--size);
            position: relative;
            @include flex-center(row);

            &.checked {
                background-color: rgb(226, 117, 98) !important;
            }

            &.selected {
                background-color: $selected !important;
            }

            &.potential-move::after {
                content: '';
                width: 35%;
                height: 35%;
                border-radius: 50%;
                background-color: $available-positions;
            }

            &.potential-move-take::after {
                content: '';
                width: 75%;
                height: 75%;
                border-radius: 50%;
                background-color: transparent;
                border: 5px solid $available-positions;
                position: absolute;
            }

            img {
                width: 85%;
            }
        }
    }

    .row-ranks, .col-ranks {
        position: absolute;
        display: flex;
        pointer-events: none;
        span {
            width: var(--size);
            height: var(--size);
            font-weight: bold;
            font-size: 18px;
        }
    }

    .row-ranks {
        top: 0;
        flex-direction: column-reverse;
        span {
            padding-top: 4px;
            padding-left: 4px;
        }
    }

    .col-ranks {
        bottom: 0;
        span {
            padding-bottom: 4px;
            padding-right: 4px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    .Modal .modal-container {
        width: 600px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        text-align: center;

        .promotion-container {
            @include flex-center(row);
            .promotion-class {
                width: 125px;
                height: 125px;
                background-color: $text;
                margin: 10px;
                border-radius: 5px;
                border: 5px solid black;
                @include flex-center(row);
                transition: all 200ms ease-in-out;
                img {
                    width: 85%;
                }
            }

            .promotion-class:hover{
                width: 150px;
                height: 150px;
                cursor: pointer;
                border: 5px solid $primary;
            }
        }
    }
}
