@import '../../../global';

.JoinRoom {
    @include assideItem;
    height: 480px;
    padding: 25px;

    h3 {
        margin: 0;
    }

    .Input input {
        margin-top: 0;
    }

    section {
        padding: 0;
        height: 100%;
    }

    .search_container {
        display: flex;
        align-items: center;
        width: 100%;
        .Input {
            width: calc(100% - 95px);
        }
    }

    .properties {
        display: flex;
        width: 100%;
        align-items: center;
        padding-right: 105px;
        padding-left: 10px;
        img { margin-left: 30px; }
        h3 + h3 { margin-left: auto; }
    }

    .room {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        .info {
            width: calc(100% - 95px);
            height: 30px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            background-color: $highlight;
            border-radius: 5px;
            span:first-child {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(100% - 95px);
            }
            img { margin-left: 20px; }
            span + span {
                width: 54px;
                margin-left: auto;
                white-space: nowrap;
                text-align: center;
            }
        }
    }

    .Button {
        width: 80px;
        min-width: 80px;
        font-weight: normal;
        margin-left: 15px;
        height: 30px;
        font-size: 16px;
        border: none;
    }
}
