@import '../../../global';

.HomePage{
    @include flex-center(row);
    justify-content: space-evenly;
    height: calc(100vh - 100px);

    .hero-section{
        width: 455px;

        h1{
            font-size: 48px;
            margin-bottom: 5px;
        }

        h2{
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 30px;
        }

        p{
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 20px;

            b{
                color: $primary;
                cursor: pointer;
            }
        }

        p + p{
            margin-bottom: 40px;
        }

        div{
            display: flex;

            &:first-child.Button{
                margin-right: 20px;
                width: 150px;
            }

            .Button{
                height: 42px;
            }
        }
    }

    .Board {
        --size: 75px;
    }

    .HorizontalLine{
        position: absolute;
        bottom: 100px;
    }
}
