@import '../../../global';

.Local {
    width: 100%;
    height: 100%;
    @include flex-center(row);

    .Board {
        width: fit-content;
        height: fit-content;
        border: 8px solid $highlight;
        border-radius: 6px;

        .square {
            width: 100px;
            height: 100px;
        }
    }
}
