@import '../../../global';

.Local {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .Board {
        border-radius: 6px;
        --size: 100px;
        margin: 0 auto;
        overflow: hidden;
    }

    aside {
        width: 470px;
        height: 100vh;
        background-color: $backgroundDark;
        display: flex;
        justify-content: center;
    }
}
