@import '../../../global';

.Local {
    width: 100%;
    height: 100%;
    @include flex-center(row);

    .Board {
        border: 8px solid $highlight;
        border-radius: 6px;
        --size: 100px;
    }
}
