// VARIABLES:

$background: #312e2b;
$backgroundDark: #272522;
$highlight: #44413f;
$primary: #7fa650;
$primaryDark: #537133;
$secondary: #e9ebd5;
$text: #ebebeb;

$selected: #aebe1b;
$available-positions: #0000002d;
$available-takes: #6400002d;

// VARIABLES TO BE USED DYNAMICALLY

:root {
    --background: #312e2b;
    --backgroundDark: #272522;
    --highlight: #44413f;
    --primary: #7fa650;
    --primaryDark: #537133;
    --secondary: #e9ebd5;
    --text: #ebebeb;

    --selected: #aebe1b;
    --available-positions: #0000002d;
    --available-takes: #6400002d;
}

// MIXINS:

@mixin flex-center ($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}
